@import url(zeroing.css);
* {
  font-family: Arial, sans-serif;
}

.section-heading {
  font-size: 30px;
  color: #445161;
  width: 100%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #445161;
  color: white;
}

.header__container {
  width: 450px;
  margin-right: 10px;
}

.header__heading {
  font-size: 60px;
  margin-bottom: 25px;
}

.header__list-item {
  position: relative;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.header__list-item:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 10px;
  height: 6px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__image {
  background-color: white;
  color: #445161;
  width: 472px;
}

/* About section*/
.about {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__container {
  width: 650px;
  margin-right: 10px;
}

.about__heading {
  color: #445161;
  margin-bottom: 17px;
}

.about__text {
  font-size: 16px;
  color: #333;
  margin-bottom: 11px;
}

.about__image {
  width: 430px;
  min-height: 245px;
  color: white;
  background-color: #445161;
}

/* Pluses section */
.dignity {
  padding: 25px 20px;
  background-color: #f5f5f5;
}

.dignity__heading {
  margin-bottom: 20px;
  text-align: center;
  color: #445161;
  width: 100%;
}

.dignity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dignity__item {
  position: relative;
  width: 49%;
  margin-bottom: 25px;
  padding-left: 45px;
}

.dignity__item::before {
  display: block;
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  background: url(../img/plus-icon.svg) no-repeat;
}

/* Screenshots section */
.screenshots {
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots__heading {
  color: #445161;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
}

.screenshots__card {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 49%;
}

.screenshots__card__image {
  width: 200px;
  height: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #445161;
  margin-right: 15px;
  color: white;
}

.screenshots__card__heading {
  font-size: 24px;
  color: #445161;
  margin-bottom: 10px;
}

.screenshots__card__text {
  font-size: 16px;
  color: #333;
}

/* Reviews section */
.reviews {
  padding: 25px 50px 20px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__heading {
  text-align: center;
  margin-bottom: 25px;
}

.reviews__card {
  font-family: "Roboto";
  font-style: italic;
  font-size: 14px;
  margin-bottom: 22px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__card__image {
  width: 66px;
  height: 66px;
  background-color: #445161;
  border-radius: 50%;
  margin-right: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reviews__card__text {
  position: relative;
  padding: 15px 15px 5px;
  border-radius: 5px;
  background: #ebebeb;
  margin-left: 15px;
}

.reviews__card__text::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 20px;
  left: -10px;
  background: #ebebeb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews__card__text-author {
  margin-top: 5px;
  display: block;
  color: #989898;
}

@media (max-width: 1200px) {
  .screenshots__card {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .header__image {
    display: none;
  }
  .about__image {
    display: none;
  }
  .dignity__item {
    width: 100%;
  }
  .reviews__card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */