/**/
@import url(zeroing.css);
.wrapper {
  max-width: 1272px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #445161;
}

.header__container {
  width: 450px;
  margin-right: 10px;
}

.header__heading {
  color: white;
  font-size: 60px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin-bottom: 25px;
}

.header__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
}

.header__item:before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 15px;
  height: 7px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__image {
  background-color: white;
  color: #445161;
  width: 472px;
}

/* About section*/
.about {
  padding: 45px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__container {
  max-width: 650px;
  margin-right: 10px;
}

.about__heading {
  color: #445161;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 17px 0;
  text-align: left;
  width: 100%;
}

.about__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #333;
  margin-bottom: 11px;
}

.about__video {
  width: 390px;
  height: 220px;
  color: white;
}

/* Pluses section */
.dignity {
  padding: 25px 50px;
  background-color: #f5f5f5;
}

.dignity__heading {
  color: #445161;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 25px 0;
  text-align: center;
  width: 100%;
}

.dignity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dignity__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #333;
  width: 49%;
  margin-bottom: 25px;
  padding-left: 42px;
}

.dignity__item::before {
  display: block;
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 6px;
  left: 0;
  background: url(../img/plus-icon.svg) no-repeat;
}

/* Screenshots section */
.screenshots {
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots__heading {
  color: #445161;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 45px 0;
  text-align: center;
  width: 100%;
}

.screen-card {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 49%;
}

.screen-card__image {
  width: 200px;
  height: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #445161;
  margin-right: 15px;
  color: white;
}

.screen-card__heading {
  color: #445161;
  font-size: 24px;
  font-weight: normal;
  font-family: "Arial";
  line-height: 24px;
  margin-bottom: 15px;
}

.screen-card__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #333;
}

/* Reviews section */
.reviews {
  padding: 25px 60px 20px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__heading {
  color: #445161;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 25px;
  text-align: center;
  width: 100%;
}

.review-card {
  margin-bottom: 24px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-card__image {
  width: 66px;
  height: 66px;
  background-color: #445161;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.review-card__text {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 18px;
  color: black;
  padding: 20px 5px 5px 10px;
  border-radius: 5px;
  background: #ebebeb;
  margin-left: 15px;
}

.review-card__text::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 35px;
  left: -10px;
  background: #ebebeb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.review-card__text-author {
  margin-top: 8px;
  display: block;
  color: #989898;
}

/* Buy-it-now section */
.buy-it-now {
  padding: 45px 25px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buy-it-now__heading {
  color: #445161;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 25px;
  text-align: center;
  width: 100%;
}

.price-card {
  width: 300px;
  background-color: #445161;
  border: 1px solid #445161;
  border-radius: 5px;
  margin: 0 22.5px;
}

.price-card__name {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.price-card__price {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #445161;
  text-align: center;
  padding: 10px 0;
  background-color: white;
}

.price-card__list {
  padding: 8px 20px 15px;
  list-style: inside;
  list-style-type: decimal;
}

.price-card__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: white;
}

.price-card__button {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: #445161;
  text-transform: uppercase;
  width: 240px;
  background-color: white;
  margin: 0 auto 20px;
  padding: 12px 0;
  border-radius: 5px;
  border: 2px solid #445161;
}

.price-card__button:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

/* Contacts section */
.contacts {
  padding: 25px 20px 50px;
  background-color: #445161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__heading {
  color: white;
  font-size: 30px;
  font-weight: normal;
  font-family: "Arial";
  line-height: normal;
  margin: 0 0 45px;
  text-align: center;
  width: 100%;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 505px;
  margin: 0 50px 0 0;
}

.contact-us-form__input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #445161;
  border: 2px solid #445161;
}

.contact-us-form__input:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.contact-us-form__input:valid:not(:placeholder-shown) {
  background-color: #96f1b2;
}

.contact-us-form__input:invalid:not(:placeholder-shown) {
  background-color: #f19696;
}

.contact-us-form__textarea {
  padding: 10px;
  border-radius: 5px;
  resize: none;
  min-height: 170px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #445161;
  border: 2px solid #445161;
}

.contact-us-form__textarea:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.contact-us-form__button {
  width: 170px;
  padding: 10px 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: #445161;
  cursor: pointer;
  border: 2px solid #445161;
}

.contact-us-form__button:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.contact-us-form__agreement {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: white;
}

.contact-us-form__agreement::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #445161;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.contact-us-form__checkbox {
  display: none;
}

.contact-us-form__checkbox:checked ~ .contact-us-form__agreement::before {
  background: white url(../img/tick.svg) center no-repeat;
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.contacts__items {
  max-width: 250px;
}

.contact-us-list {
  margin: 10px 0 50px;
}

.contact-us-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 18px;
  max-width: 250px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: white;
}

.contact-us-list__icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.contact-us-social__item {
  margin: 0 5px 0 0;
}

.contact-us-social__icon {
  width: 45px;
  height: 45px;
}

/* Footer section*/
.footer {
  background: #f5f5f5;
  text-align: center;
  padding: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #445161;
  letter-spacing: 0.3px;
}

/* Adaptive */
@media (max-width: 1280px) {
  .screenshots {
    padding: 25px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .screen-card {
    max-width: 700px;
  }
  .screen-card__image {
    width: 150px;
    height: 120px;
  }
  .buy-it-now {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price-card {
    margin: 0 0 25px;
  }
  .price-card:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
  }
  .price-card:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .price-card:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us-form {
    margin: 0 0 25px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 20px;
  }
  .header__heading {
    font-size: 40px;
  }
  .header__image {
    display: none;
  }
  .about {
    padding: 30px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__video {
    width: 300px;
    height: 180px;
  }
  .dignity__item {
    width: 100%;
  }
  .reviews {
    padding: 20px;
  }
  .review-card {
    width: 100%;
  }
  .contact-us-form {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .price-card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */