@import url(zeroing.css);
$dark-bg-color: #445161;
$grey-bg-color: #f5f5f5;

* {
  font-family: Arial, sans-serif;
}

.section-heading {
  font-size: 30px;
  color: $dark-bg-color;
  width: 100%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  background-color: $dark-bg-color;
  color: white;
  &__container {
    width: 450px;
    margin-right: 10px;
  }
  &__heading {
    font-size: 60px;
    margin-bottom: 25px;
  }
  &__list {
    &-item {
      position: relative;
      font-size: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
      &:before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 10px;
        height: 6px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(-45deg);
      }
    }
  }
  &__image {
    background-color: white;
    color: $dark-bg-color;
    width: 472px;
  }
}

/* About section*/

.about {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  &__container {
    width: 650px;
    margin-right: 10px;
  }
  &__heading {
    color: $dark-bg-color;
    margin-bottom: 17px;
  }
  &__text {
    font-size: 16px;
    color: #333;
    margin-bottom: 11px;
  }
  &__image {
    width: 430px;
    min-height: 245px;
    color: white;
    background-color: $dark-bg-color;
  }
}

/* Pluses section */

.dignity {
  padding: 25px 20px;
  background-color: #f5f5f5;
  &__heading {
    margin-bottom: 20px;
    text-align: center;
    color: $dark-bg-color;
    width: 100%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 49%;
    margin-bottom: 25px;
    padding-left: 45px;
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
      background: url(../img/plus-icon.svg) no-repeat;
    }
  }
}

/* Screenshots section */

.screenshots {
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__heading {
    color: $dark-bg-color;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }
  &__card {
    margin-bottom: 25px;
    display: flex;
    max-width: 49%;
    &__image {
      width: 200px;
      height: 150px;
      flex-shrink: 0;
      background-color: $dark-bg-color;
      margin-right: 15px;
      color: white;
    }
    &__heading {
      font-size: 24px;
      color: $dark-bg-color;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 16px;
      color: #333;
    }
  }
}

/* Reviews section */

.reviews {
  padding: 25px 50px 20px;
  background-color: $grey-bg-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__heading {
    text-align: center;
    margin-bottom: 25px;
  }
  &__card {
    font-family: "Roboto";
    font-style: italic;
    font-size: 14px;
    margin-bottom: 22px;
    width: 49%;
    display: flex;
    &__image {
      width: 66px;
      height: 66px;
      background-color: $dark-bg-color;
      border-radius: 50%;
      margin-right: 5px;
      flex-shrink: 0;
    }
    &__text {
      position: relative;
      padding: 15px 15px 5px;
      border-radius: 5px;
      background: #ebebeb;
      margin-left: 15px;
      &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        top: 20px;
        left: -10px;
        background: #ebebeb;
        transform: rotate(45deg);
      }
      &-author {
        margin-top: 5px;
        display: block;
        color: #989898;
      }
    }
  }
}

@media (max-width: 1200px) {
  .screenshots {
    &__card {
      max-width: 800px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__image {
      display: none;
    }
  }
  .about {
    &__image {
      display: none;
    }
  }
  .dignity {
    &__item {
      width: 100%;
    }
  }
  .reviews {
    &__card {
      width: 100%;
    }
  }
}
